body {
  background: #0a0a0a;
  color: #00ffcc;
  font-family: Arial;
  text-align: center;
}

header {
  padding: 20px;
  border-bottom: 2px solid gold;
}

.container {
  margin-top: 40px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  background: gold;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  color: gray;
}
